#BoardImage {
  background-color: grey;
  margin-top: 30px;
  margin: auto;
  width: 99%;
  max-height: 90%;
  border: none;
}

#cntnt-image {
  max-height: 400px;
  max-width: 400px;
}

img {
  /*position: absolute;*/
  max-width: 100%;
  height: auto;
  overflow: hidden;
  align: center;
}

input {
  align: bottom;
}
