<center>
  <div style="width: 90%;" class="inner_wrap">
    <p>
      <img src="/imgs/404.jpg" style="margin-top: 130px;" width="520" height="354">
    </p>
    <h2 style="color: #686969; margin-top: 30px; font: 15px Tahoma, Arial"> 404. Упс, такой страницы у нас нет&nbsp;</h2>
    <a href="http://127.0.0.1:8007" style="font: 12px Tahoma, Arial; color: #5190b8">Вернуться на главную</a>
  </div>
</center>
