    <img id="cntnt-image" src="imgs/img_1.jpg"></img>
    <img id="cntnt-image" src="imgs/img_2.jpg"></img>
    <img id="cntnt-image" src="imgs/img_3.jpg"></img>
    <img id="cntnt-image" src="imgs/img_4.jpg"></img>
        <script src="js/jquery-2.2.3.min.js"></script>
        <script src='js/slider.js'></script>
