    <p>Электронная почта</p>
    <ul>
      <li>info@trade.home</li>
      <li>support@trade.home</li>
    </ul>
    <p>Телефоны</p>
    <ul>
      <li>555-0125(факс)</li>
      <li>555-0234(горячая линия)</li>
    </ul>
    <p>Skype</p>
    <ul>
      <li>trade.home</li>
    </ul>
