    <center>
      <div id="boardImage" class="slider">
        <img id="divImage" src="imgs/img_1.jpg"></img>
      </div>
      <input type="button" onclick="go()" value="Go"/>
      <input type="button" onclick="goBack()" value="GoBack"/>
    </center>
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src='js/slider.js'></script>
