    <div class="menu">
      <a href="/"> Главная | </a>
      <a href="/catalog"> Список коттеджей | </a>
      <a href="/services"> Услуги | </a>
      <a href="/contacts"> Контакты </a>
    </div>
