    <p>
      Мы предосталяем разные услуги:
    </p>
    <ul>
      <li>Всякие;</li>
      <li>Разные;</li>
      <li>И такие тоже...</li>
      <img id="cntnt-image" src="http://301-1.ru/gen-mems/img_mems/4a4c2a53661ede617bd7437b4e728cbb.jpg"></img>
    </ul>
